body {
  padding-top: 65px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.whiteRowOne {
  margin-bottom:0px;
  margin-top:0px;
}

.whiteRowTwo {
  margin-bottom:0px;
  margin-top:0px;
}

.card-group .card-wrapper {
  width:100%;
  height:100%;
  overflow:hidden;
}

.gecko .backdrop-img {
  width:100%;
  height:100%
}

.backdrop-img {
  //max-width:100%;
  //min-height:100%;
  //max-height:100%;
  //width:100%;
  //height:100%;
}

.card-group {
  position:relative;
  left:0;
}

.card-group .card-wrapper .card {
    position: relative;
    margin: 0 auto;
    display: table;
    overflow:hidden;
    width:100%;
    height:100%;
}

.card-group .card-wrapper .whitecard-text {
  position: absolute;      
  top: 2px;
  right: 2px;
  left: 5px;
}

.card-group .card-wrapper .blackcard-text {
  position: absolute;      
  top: 30px;
  right: 10px;
  left: 10px;
}

div.new_html_code {
  width:230px;
  height:230px;
  overflow:hidden;
  display:block;
  border:1px solid #DDD;
}

.gecko .slide-inner {
  position:absolute;
  left:0;
}

.slide-text {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size:24px;
}

.slide-button {
  position: absolute;
  bottom:2px;
  width:228px;
  margin-left:1px;
}

.row-black {
  width:auto;
  margin:auto;
  margin-bottom:-25px;
  overflow:hidden;
}

.row-played {
  height:255px;
  padding: 10px;
  margin-left: -10px;
  //background-color: #F7F7F7;
  border: 1px solid #DDD;
}

.row-hand-container {
  padding:5px;
  margin-left:-10px;
}

.row-hand-container .row-hand {
  margin-left: 55px;
  margin-bottom:-25px
}

.gecko .row-hand-container .row-hand {
  margin-bottom:-10px
}